body {
  padding: 0 auto;
}

#body {
  margin: 0 auto;
}

#form-label-nickname {
  font-size: 3rem;
  line-height: 3rem;
}

#form-input-nickname {
  font-size: 3rem;
  line-height: 3rem;
  padding: 1rem;
  border: 0.3vw #ddd solid;
  border-radius: 2vw;
  background-color: #fafafa;
}


#form-status {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 0.3vw #ddd solid;
  border-radius: 2vw;
  overflow: hidden;
}

#form-status:focus {
  outline-offset: -0.3vw;
  outline: 0.6vw var(--active-color) solid;
}

.choice-status-radio {
  font-size: 3rem;
  padding: 1rem;
  width: 50%;
  text-align: center;
  transition: 0.1s;
}

.choice-status-radio:has(input:checked) {
  background-color: var(--active-color);
}

.choice-status-radio:has(input:not(checked)) {
  background-color: #fafafa;
}

input[type="radio"] {
  display: none;
}

#student-detail {
  display: flex;
  flex-direction: row;
}

.small-label {
  padding: 1rem;
  font-size: 3rem;
  line-height: 4rem;
  width: 25%;
  text-align: center;
}

.small-box {
  border: 0.3vw #ddd solid;
  border-radius: 2vw;
  background-color: #fafafa;
  width: 25%;
  text-align: center;
}

#enter-button {
  height: 8rem;
  line-height: 8rem;
  width: 100%;
  border: 0.3vw #ddd solid;
  border-radius: 2vw;
  text-align: center;
  font-size: 4rem;
  background-color: #ade1f6;
}

#small-description {
  font-size: 2.5rem;
  line-height: 6rem;
  text-align: center;
}